<!doctype html>
<html lang="en">
    <head>

        {{! Document settings and metadata }}
        <title>{{meta_title}}</title>
        <meta charset="utf-8" />
        <meta name="designer" content="{{meta_title}}" />
        <meta name="rating" content="general" />
        <meta name="keywords" content="ghost, blog, {{meta_title}}" />

        {{! iOS, Android and Windows stuff }}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="msapplication-TileImage" content="{{asset 'images/windows-tile.png'}}" />
        <meta name="msapplication-TileColor" content="#262A2D" />

        {{! Robots and Viewport }}
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {{! OpenGraph for Facebook }}
        <meta property="og:title" content="{{meta_title}}" />
        <meta property="og:locale" content="en_US" />

        {{! Twitter Card }}
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="{{meta_title}}" />

        {{! Icons }}
        <link rel="icon" href="{{asset 'favicon.ico'}}" />
        <link rel="icon" sizes="196x196" href="{{asset 'images/android-homescreen.png'}}" />
        <link rel="apple-touch-icon" href="{{asset 'images/apple-touch-icon.png'}}" />

        {{! Prerendering and Prefetching }}
        {{#if @blog.cover}}
            <link rel="prerender" href="{{@blog.cover}}" />
            <link rel="prefetch" href="{{@blog.cover}}" />
        {{/if}}
        <link rel="dns-prefetch" href="//fonts.googleapis.com/" />

        {{! Scripts and Stylesheets }}
        <link rel="stylesheet" href="{{asset 'css/bootstrap.min.css'}}">
        <link rel="stylesheet" href="{{asset 'css/style.css'}}">
        <link rel="stylesheet" href="{{asset 'css/style-responsive.css'}}">
        <link rel="stylesheet" href="{{asset 'css/animate.css'}}">
        <link rel="stylesheet" href="{{asset 'css/animations.min.css'}}">
        <link rel="stylesheet" href="{{asset 'css/vertical-rhythm.min.css'}}">
        <link rel="stylesheet" href="{{asset 'css/owl.carousel.css'}}">
        <link rel="stylesheet" href="{{asset 'css/magnific-popup.css'}}">
        <link rel="stylesheet" href="{{asset 'css/colors/black.css'}}">

        {{! Page-Specific Metadata }}
        {{{block "meta"}}}

        {{ghost_head}}

    </head>
    <body class="{{body_class}}">
        <nav class="animated fadeIn navigation">
            <div class="container">
                <a href="{{@blog.url}}" class="text-right sidebar brand">
                    {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}" />{{/if}}
                </a>
                <p class="content">{{@blog.title}}</p>
            </div>
        </nav>
        <div class="main">
            {{{body}}}
        </div>
        <footer class="animated fadeIn" id="footer">
            <div class="container text-center">
                <p class="copyright"><span>Made by {{@blog.title}}.</span> <span>Powered by Ghost.</span></p>
                <a href="https://github.com/haydenbleasel/phantom" class="theme">Theme: Phantom by Hayden Bleasel</a>
            </div>
        </footer>

        {{ghost_foot}}

        {{! Deferred scripts }}
        <script type="text/javascript" src="{{asset 'js/jquery-1.11.1.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery-migrate-1.2.1.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.easing.1.3.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/bootstrap.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/SmoothScroll.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.scrollTo.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.localScroll.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.ba-hashchange.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.viewport.mini.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.countTo.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.appear.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.sticky.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.parallax-1.1.3.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.fitvids.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/owl.carousel.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/isotope.pkgd.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/imagesloaded.pkgd.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/jquery.magnific-popup.min.js'}}"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
        <script type="text/javascript" src="{{asset 'js/gmap3.min.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/all.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/contact-form.js'}}"></script>
        <script type="text/javascript" src="{{asset 'js/animations.min.js'}}"></script>
        <!--[if lt IE 10]><script type="text/javascript" src="{{asset 'js/placeholder.js'}}"></script><![endif]-->
    </body>
</html>
